<div class="mx-sm-3 mb-2">
  <input class="form-control mb-4" id="copy" value={{url}} style="width: 450px;">
  <div class="d-flex flex-row justify-content-center">
    <button id="btn-copy" class="btn btn-warning font-weight-bold mr-4" data-clipboard-target="#copy">Copy</button>
    <a class="btn btn-secondary font-weight-bold" href="/" role="button">Back</a>
  </div>
</div>